@keyframes anim1 {
  0% {font-style:italic;font-style:bold;}
  50% { font-style:bold;}
  100% { font-style:italic;font-style:bold;}
}
@keyframes op1 {
  from {opacity:0%;}
  to {opacity:100%;}
}
    
body {
background-color:white;
}

ul.menu{
  background-color:#004a8d;
}
li.menu{
  background-color:#004a8d;
}
a.menu{
  background-color:#004a8d;
  color:white;
}
h1 {
  color:#4a74bb;
  animation: anim1 10s infinite;
}
iframe:hover {
  animation-name:op1;
  animation-duration:500s;
  animation-iteration-count:1;

}
iframe {
  opacity:0;
}
@keyframes op1{
  0%{opacity:0;}
  0.1%{opacity:1;}
  100%{opacity:0;}
}



