body {
  background-color: #8db9c7
} 
h1 {
  font-style:Verdana;
}
#quote{
  font-style:Times New Roman;
}
.info {
  color:#003366
}
ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1F41AC;
}
#menu li a{
  float: left;
  color: #003366;
}

#menu li a {
  text-align: center;
  text-decoration: none;
    padding: 16px;
  display: block;
}
a:hover::after {
  color:#04F2FD;
}
a:active::after {
  color:#290673;
}
