body {
  background-color: #8db9c7
} 
h1 {
  font-style:Verdana;
}
#quote{
  font-style:Times New Roman;
}
.info {
  color:#003366
}
.menu li a{
  float: left;
  color: #003366;
}

.menu li a {
  text-align: center;
  text-decoration: none;
    padding: 16px;
  display: block;
}
li a:hover {
  background-color: #111111;
}
  a:visited { 
    color: purple; 
  }
  
  a:active {
  color: green;
}
