body {
  background-color: #8db9c7
} 
h1 {
  font-style:Verdana;
}
#quote{
  font-style:Times New Roman;
}
.info {
  color:#003366
}
  a:hover {
  background-color: #111111;
}
  a:visited { 
    color: purple; 
  }
  
  a:active {
  color: green;
}
a {
  text-decoration:none;
}
.menu { 
  list-style-type: none;
  float:left;
  padding:16px;
  list-style:none;
}
